h1{
    color: brown;
    margin-left: 300px;
    font-size: 115px;
    text-shadow: 500px;
    

}
body {
    background-color: darkslategray;
    font-size: 70px;
}
.slide-text {
    margin-left: 100px;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 50px;
    animation: slide 10s infinite;
    
}
@keyframes slide {
    0% {transform:translateY(-100%);}
    100%{transform: translateX(100%);}
}
form {
    font-size: 20px;
    margin-left: 200px;
}
button{
    size: 50px;
    color: grey;
    background-color: black;
    font-weight: bolder ;
    font-style: italic;
}
